<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
    <title>{{title}}</title>
    
    <!-- Style Sheets -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <main>
        <form>
            <input type="text" placeholder="Your City">
            <button>Search</button>
        </form>
        <br>
        <div>
            <p id="p1"></p>
            <p id="p2"></p>
        </div>
    </main>
    {{>footer}}
    <!-- Scripts -->
    <script src="./scripts/script.js" defer></script>
</body>
</html>